import { MongoClient } from "mongodb";

export async function connectToDatabase() {
  const client = await MongoClient.connect(
    "mongodb+srv://<username>:<password>@cluster0.tecimiv.mongodb.net/?retryWrites=true&w=majority"
  );

  return client;
}
